@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    width: 100%;
    margin: 0;
    background: #FFF;
    display: block;
}
body.active main, body.active footer{
    display: none;
}

:root{
    font-size: 16px;;
}
.navagation{
    /* position: fixed; */
    position: relative;
    z-index: 1000;
    width: 100%;
    border-bottom: 0.5px solid #c1d9d5;
    display: grid;
    align-items: center;
    background-color: #FFFFFF;
}
.navagation.fixed{
    position: fixed;
    z-index: 1000;
}
.navagation.fixed .contain{
    z-index: 1000;
}
.navagation .contain{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
    position: relative;
    z-index: 1000;
}
.svg-nav.active path:nth-child(1),.svg-nav.active path:nth-child(3){
    display: none;
}


 .nav-bar{
    position: fixed;
    width: 7.0625rem;
    background-color: #00684A;
    z-index: 999;
    padding-top: 5rem;
    display: none;
}
.nav-bar.active{
    display: block;
}
.nav-bar ul{
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    margin-left: 1.25rem;
    padding-inline-start: 0;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #FFF8EB;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.navagation .contain .logo_Minh_Nhut{
    color: #001E2B;
    font-family: "Roboto Mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main{
    display: block;
    width: 100%;
}
main .notification{
    position: relative;
    width: 100%;
    height: 3.125rem;
    background: #116149;
    z-index: 100;
    display: flex;
    align-items: center;
    transition: 0.1s ease;
}

main .notification.fixed{
    height: 0rem;
    transition: 0s ease;
}
main .notification .span-notification{
    height: 3.125rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    height: 1.25rem;
    color: #FFF;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 146.023%; /* 1.27769rem */
    letter-spacing: 0.04375rem;
    overflow: hidden;
}

main .home{
    width:100%;
    z-index: 100;
    margin-top: 1.2rem;
    
}
main .home.fixed{
    margin-top: 4.37rem;
}
.home .logo_home{
    margin-left: 1.25rem;
    height: 1.25rem;
    border-left: 2px solid #00ED64;
    padding-left: 0.63rem;
}
.home .logo_home span{
    display: flex;
    height: 1.25rem;
    flex-direction: column;
    justify-content: center;
    color: #3D4F58;
    font-family: "Roboto Mono";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3075rem;
}
.home .image-home{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    position: relative;
    margin-top: 2.37rem;
}
.home .image-home img{
    width: 100%;
}
.home .h1-home{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: grid;
    grid-template-columns: 10fr 2fr;
}
.home .h1-home h1{
    color: #001E2B;
    font-family: "Rosarivo";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110.523%;
}
.home .p-home{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: grid;
    align-items: center;
    margin-top: 0;
    color: #3D4F58;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150.523%; /* 1.41113rem */
    letter-spacing: 0.02344rem;
}
.home .span-home{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: #3D4F58;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.023%; /* 1.10644rem */
    letter-spacing: 0.01875rem;
}
 .button-home{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 0.3125rem;
    border: 0.7px solid #00684A;
    background: #00ED64;
}
.button-home:hover{
    cursor: pointer;
}
 .button-home span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: #001E2B;
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.023%; 
}


.home .line-home{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    height: 0.5px;
    background-color: #116149;
    margin-top: 2.06rem;
}
.home .achive{
    display: flex;
    justify-content: space-between;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.home .achive div{
    display: block;
}
.home .achive div h3{
    color: #00684A;
    text-align: center;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 1.8125rem;
    margin-bottom: 0;
}
.home .achive div span{
    display: flex;
    justify-content: center;
    color: #3D4F58;
    font-family: "Roboto";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    height: 0.8125rem;
    margin-bottom: 1.12rem;
}




/* about section*/

.about{
    position: relative;
    z-index: 100;
    border-radius: 0rem 5.625rem 2.625rem 0rem;
    background: #001E2B;
    width: 100%;
    padding-top: 2.44rem;
    padding-bottom: 3.44rem;
}
.about .head-about{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    position: relative;
}
.about .head-about .h1-about{
    display: grid;
    grid-template-columns: 10fr 2fr;
    height: 6.625rem;
}
.about .head-about .h1-about h1{
    color: #FFF8EB;
    font-family: "Rosarivo";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.023%; /* 2.36044rem */
    letter-spacing: 0.1rem;
    
}

.about .img-about{
    position: relative;
    display:grid;
    grid-template-columns: 3fr 6fr 3fr;
    margin-top: 0.69rem;
}
.about .img-about div{
    grid-column-start: 2;
}
.about .img-about div img{
    width: 100%;
    z-index: 99;
}
.about .img-about .name-about{
    grid-column-start: 2;
    grid-column-end: 3;
    position: absolute;
    width: 100%;
    height: 3.125rem;
    border-radius: 0.3125rem;
    background: #FFF;
    z-index: 100;
    bottom: -2rem;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #00684A;
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.023%; /* 1.03269rem */
    letter-spacing: -0.0175rem;
}

.head-about .h3-about{
    color: #FFF;
    font-family: "Roboto Mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.023%; /* 1.32775rem */
    letter-spacing: -0.0225rem;
    margin-top: 5.06rem;
    margin-bottom: 1rem;
}
.head-about .p-about{
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.40625rem */
    letter-spacing: 0.05156rem;
}

.button-about{
    height: 3rem;
    margin-top: 2rem;
    border-radius: 0.3125rem;
    border: 0.7px solid #00684A;
    background: #00ED64;
}
.button-about a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: #001E2B;
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.023%; 
}
.button-about:hover{
    cursor: pointer;
}
.about .level{
    width: 100%;
    display: block;
}
 .h1-level{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-items: center;
    margin-top: 2.44rem;
}
 .h1-level h1{
    color: #FFF;
    font-family: "Roboto Serif";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 2.186rem */
    letter-spacing: 0.08125rem;
    margin: 0;
}
 .p-level{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 1.51338rem */
    letter-spacing: 0.05625rem;
    margin-top: 0.94rem;
    margin-bottom: 2.25rem;
}
.level .frame-website{
    margin-left: 1.25rem;
    position: relative;
    z-index: 99;
}
.frame-website .h4-website{
    color: #FFF;
    font-family: "Roboto Mono";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 1.26113rem */
    letter-spacing: 0.04688rem;
}
.frame-website .container-slide-web{
    position: relative;
    display: flex;
    min-height: 12.0rem;
    width: 100%;
    height: auto;
    overflow-x: auto;
    position: relative;
    z-index: 99;
}
.frame-website .container-slide-web div{
    position: relative;
    width: 15rem;
   flex: 0 0 auto;
    border-radius: 0.625rem;
    background: #21313C;
    margin-right: 1.5rem;
}
.frame-website .container-slide-web div h5{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: #FFF;
    font-family: "Roboto";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: 134.523%; /* 1.51338rem */
    letter-spacing: 0.05625rem;
    margin-top: 1.19rem;
    margin-bottom: 0.5rem;
}
.frame-website .container-slide-web div p{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: #FFF8EB;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 146.023%; /* 1.27769rem */
    letter-spacing: 0.04375rem;
    
}
.frame-website .container-slide-web div span{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: #FFF;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 1.34525rem */
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}
.frame-website.app{
    margin-top: 2.5rem;
    position: relative;
    z-index: 99;
}
.vector-line-app{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 120%;
    object-fit: cover;
}
.h1-level.journey{
    margin-top: 4.69rem;
}
.p-level.journey{
    margin-bottom: 2.39rem;
}
.content-journey{
    position: relative;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
}
.content-journey ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-inline-start: 0;
    border-bottom: 2px solid #21313C;
}
.content-journey ul li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 10.8125rem;
    height: 2.5625rem;
    color: #FFF;
    font-family: "Roboto Mono";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 1.26113rem */
    letter-spacing: 0.04688rem;
}
.content-journey ul li.active{
    border-bottom: #00ED64 3px solid;
}

.education{
    margin-top: 1.91rem;
}
 .comp-journey{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 5fr;
}
 .comp-journey div.group{
    width: 100%;
    height: 5.625rem;
    border-radius: 0 3.875rem 3.875rem 0 ;
    background: #21313C;  
    display: flex;
    align-items: center;
}
 .comp-journey:nth-child(2n){
    grid-template-columns: 5fr 7fr;
}
 .comp-journey:nth-child(2n) .group{
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 3.875rem 0 0 3.875rem ;
    justify-content: flex-end;
}
 .comp-journey:nth-child(2n) .group .card{
    margin-right: 1.22rem;
}
 .comp-journey div.card{
    margin-left: 1.25rem;
}
 .comp-journey div.card h6{
    color: #FFF;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.023%; 
    letter-spacing: 0.01875rem;
    margin: 0;
}
 .comp-journey div.card p{
    color: rgba(255, 255, 255, 0.80);
    font-family: "Roboto";
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 118.023%; /* 0.81144rem */
    letter-spacing: 0.01375rem;
    margin: 0;
    margin-top: 0.38rem;
}
 .comp-journey div.card span{
    margin-top: 0.38rem;
    color: rgba(255, 255, 255, 0.80);
    font-family: "Roboto";
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 118.023%;
    display: flex;
    align-items: center;
}
.container-journey .work{
    display: none;
}
.container-journey.exWork .education{
    display: none;
}
.container-journey.exWork .work{
    margin-top: 1.91rem;
    display: block;
}


.services{
    top: -2.5rem;
    position: relative;
    width: 100%;
    z-index: 99;
    background: #21313C;
    padding-top: 2.42rem;
    padding-bottom: 7.42rem;
}
.h1-level.service{
    margin-top: 3.62rem;
}
.p-level.service{
    margin-bottom: 1.94rem;
}
.frame-service .content{
    margin-left: 1.25rem;
}
.frame-service .content{
    border-left: 3px solid #B8C4C2;
    padding: 0.5rem 0;
}


.frame-service .content img{
    display: none;
}
.frame-service .content img.active{
    display: block;
}



.frame-service .content .h3-content-service{
    display: flex;
    justify-content: space-between;
    margin-right: 1.22rem;
    margin-left: 0.62rem;
}
.frame-service .content .h3-content-service h3{
    color: #FFF;
    font-family: "Roboto";
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 1.84969rem */
    letter-spacing: 0.06875rem;
    margin: 0;
}
.frame-service .content .p-container-service{
    margin-right: 1.22rem;
    margin-left: 0.62rem;
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 147.523%; /* 1.47525rem */
    letter-spacing: 0.05rem;
    display: none;
}
.detail-content{
    margin-left: 1.25rem;
    border-radius: 0.625rem 0 0  0.625rem ;
    border: 0.2px solid #B8C4C2;
    border-right: none;
    background: #001E2B;
    margin-top: 0.62rem;
    margin-bottom: 1.62rem;
    display: none;
}
.head-detail-content{
    padding: 0.75rem 0;
    border-bottom: 1px solid #3D4F58;
}
.head-detail-content ul{
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin: 0;
}
.head-detail-content ul li{
    list-style: none;
    width: 8.9375rem;
    height: 1.875rem;
    color: #FFF;
    font-family: "Roboto";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 147.523%; /* 1.19863rem */
    letter-spacing: 0.04063rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21313C;
    border-radius: 1.25rem;
}
.head-detail-content ul li.onclick-service{
    background-color: #006CFA;
}
.main-detail-content{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    height: 13rem;
    overflow-y: scroll;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: none;
}
.main-detail-content.active{
    display: block;
}
.card-content-service h4{
    margin-top: 1.19rem;
    margin-bottom: 0.56rem;
    color: #FBFB01;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 147.523%; /* 1.383rem */
    letter-spacing: 0.04688rem;
}
.card-content-service p{
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 147.523%; /* 1.29081rem */
    letter-spacing: 0.04375rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.card-content-service p span{
    color: #01CDF8;
}


.frame-service.frontend.active .p-container-service{
    display: block;

}
.frame-service.frontend.active .detail-content{
    display: block;
    
}
.frame-service.active .content{
    border-left: 3px solid #006CFA ;
   
}

.frame-service.backend .p-container-service{
    display: none;
    
}
.frame-service.backend .detail-content{
    display: none;

}

.frame-service.backend.active .p-container-service{
    display: block;
   
}
.frame-service.backend.active .detail-content{
    display: block;
    
}
.frame-service{
    margin-bottom: 1.63rem;
}

.portfolio{
    position: relative;
    background: #001E2B;
    width: 100%;
    z-index: 100;
    top: 0rem;
    padding-bottom: 1.25rem;
}
.portfolio::before{
    position: absolute;
    content: "";
    border-radius: 0rem 4.625rem 0rem 0rem;
    background: #001E2B;
    top:-7.9rem;
    width: 100%;
    height: 8rem;
    z-index: 100;
    color: #FFF;
    font-family: "Roboto Serif";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 2.186rem */
    letter-spacing: 0.08125rem;
    z-index: 99;
}
.h1-portfolio{
    position: relative;
    top:-5rem;
    z-index: 100;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: grid;
    grid-template-columns: 10fr 2fr;
}
.h1-portfolio h1{
    color: #FFF;
    font-family: "Roboto Serif";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 2.186rem */
    letter-spacing: 0.08125rem;
    margin: 0;
}
.p-portfolio{
    margin: 0;
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134.523%; /* 1.51338rem */
    letter-spacing: 0.05625rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    position: relative;
    top:-4rem;
    z-index: 100;
    
}
.nav-portfolio{
    position: relative;
    top:-1.5rem;
}
.nav-portfolio ul{
    margin: 0;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    border-bottom: 1px solid #3D4F58;
}
.nav-portfolio ul li{
    list-style: none;
    color: #FFF;
    font-family: "Roboto Mono";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 134.523%; /* 1.26113rem */
    letter-spacing: 0.04688rem;
    height: 1.875rem;
}
.nav-portfolio ul li.active{
    border-bottom: 3px solid #00ED64 ;
}


.img-contain-portfolio{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    position: relative;
    margin-top: 3.38rem;
    display: grid;
}
.img-contain-portfolio img{
    width: 100%;
    object-fit: cover;
}
.h3-contain-portfolio{
    color: #FFF8EB;
    font-family: "Roboto";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 118.023%;
    letter-spacing: 0.01688rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    margin-top: 1.81rem;
}
.h3-contain-portfolio span{
    color: #FBFB01;
}
.p-contain-portfolio{
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 138.523%; /* 1.38525rem */
    letter-spacing: 0.045rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
}
.button-portfolio{
    margin-top: 2.75rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    height: 3rem;
    border-radius: 0.3125rem;
    border: 0.7px solid #21313C;
    background: #00ED64;
    color: #001E2B;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.023%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-contain-portfolio{
    display: none;
}
.group-contain-portfolio.active{
    display: block;
}

.document-contain-portfolio{
    margin-top: 0.75rem;
    height: 1.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.document-contain-portfolio span{
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 138.523%; /* 1.21206rem */
    letter-spacing: 0.03938rem;
    display: flex;
    column-gap: 1.0625rem;
}
.testimonial{
    position: relative;
    background: #3D4F58;
    padding-top: 2.06rem;
    padding-bottom: 8.81rem;
    overflow-x:auto ;
}
.h1-testimontial{
    display: grid;
    grid-template-columns: 10fr 2fr;
}
.h1-testimontial h1{
    margin: 0;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: #FFF8EB;
    font-family: "Roboto Slab";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 118.023%;
}
.p-testimonial{
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.023%; 
    margin-left: 1.25rem;
    margin-right: 1.22rem;
}
.group-testimonial{
    overflow-x: hidden;
    margin-top: 1.38rem;
}
.card-testimonial{
    position: relative;
    margin-left: 1.25rem;
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: auto;
    z-index: 100;
    /* column-gap: 1.12rem; */
}
.card-test{
    position: relative;
    border-radius: 1.25rem;
    border: 0.5px solid #B8C4C2;
    background: #001E2B;
    width: 16.9375rem;
    height: 15.5625rem;
    flex: 0 0 auto;
   margin-right: 2rem;
}
.card-test p{
    color: #FFF;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 154.523%;
    margin-top: 1.81rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;

}
.card-test h5{
    color: #FFF;
    font-family: "Roboto";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 128.023%; 
    margin: 0;
    margin-left: 1.25rem;
    margin-top: 1.91rem;
}
.card-test span{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    color: rgba(217, 217, 217, 0.50);
    font-family: "Roboto";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 128.023%;
}
.group-testimonial{
    position: relative;
    overflow: inherit;
    padding-top: 1rem;
}
.container-slider{
    margin-left: 1.25rem;
    margin-top: 1.81rem;
    width: 6.25rem;
    height: 1.25rem;
    border: 0.5px  solid #B8C4C2;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    position: relative;
    z-index: 100;
}
.container-slider .button{
    width: 0.8125rem;
    height: 0.4375rem;
    background: #116149;
    border-radius: 10px;
}
.container-slider .button.onclick{
    width:2.8125rem;
    background-color: #00ED64;
}
.img-testimonial{
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 22%;
}
@media  screen and (min-width: 480px) {
    .img-testimonial{
        display: none;
    }
    .vector-line-app{
        display: none;
    }
}

.contact{
    position: relative;
    border-radius: 0 5rem 0 0;
    background-color: #FFF;
    top:-5rem;
    padding-top: 3rem;
}
.h1-contact{
    margin-left: 1.25rem;
    display: grid;
    grid-template-columns: 10fr 2fr;
    margin-right: 1.22rem;
}
.h1-contact h1{
    margin: 0;
    color: #001E2B;
    font-family: "Roboto Serif";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 118.023%; /* 1.91788rem */
    letter-spacing: 0.08125rem;
}
.p-contact{
    margin: 0;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    margin-top: 0.58rem;
    color: #3D4F58;
    font-family: "Roboto";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 118.023%; /* 1.32775rem */
    letter-spacing: 0.0225rem;
}
.inforcontact{
    margin-top: 2.75rem;
}
.inforcontact div{
    margin-left: 1.25rem;
    display: flex;
    column-gap: 1.57rem;
    margin-bottom: 1.25rem;
    align-items: center;
}
.inforcontact div span{
    color:#3D4F58;
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contact-infor{
    display: grid;
}
.contact-infor span{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    margin-bottom: -1px;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#3D4F58;
}
.contact-infor input{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    border-radius: 0.3125rem;
    border: 1px solid #3d4f58ba;
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.125rem;
    color: #3D4F58;
    font-family: "Roboto";
    resize: none;
}
.contact-infor input[type=text]:focus{
   outline: none;
   border: 1px solid #001E2B;
}
.contact-infor.name-write{
    margin-top: 1.81rem;
}
.contact-infor.email-write{
    margin-top: 0.81rem;
}
.contact-infor.message-contact{
    margin-top: 1.1rem;
}
.contact-infor.message-contact textarea{
    height: 6.0625rem;
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    border: 1px solid #3d4f58ba;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    color: #3D4F58;
    font-family: "Roboto";
    resize: none;
    padding: 1rem 0.5rem;
}
.contact-infor.message-contact textarea:focus{
    outline: none;
    border: 1px solid #001E2B;
}
.select-service-contact{
    margin-top: 1.12rem;
}
.select-service-contact p{
    margin: 0;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #3D4F58;
    margin-left: 1.22rem;
}
.group-ser-contact{
    display: flex;
    padding-left: 1.25rem;
    padding-right: 1.22rem;
    justify-content: space-between;
}
.group-ser-contact{
    margin-top: 0.5rem;
}
.group-ser-contact .cricle-contact{
    width: 0.89119rem;
    height: 0.89119rem;
    background: #3D4F58;
    border-radius: 50%;
}
.group-ser-contact .card-contact{
    display:flex;
    column-gap: 0.5rem;
    align-items: center;
}
.group-ser-contact .card-contact span{
    color:  #3D4F58;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
.card-contact:nth-child(1) div{
    background-color: #00ED64;
}
.card-contact:nth-child(1) span{
    color: #00ED64;
}
.button-contact{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 0.3125rem;
    border: 0.7px solid #00684A;
    background: #00ED64;
}
.button-contact:hover{
    cursor: pointer;
}
.button-contact span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: #001E2B;
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 118.023%; 
}

footer{
    background: #001E2B;
    padding-top: 2.38rem;
    padding-bottom: 2rem;
}
.h1-footer{
  margin-left: 1.25rem;
}
.h1-footer h1{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto Mono";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem; /* 100% */
    margin: 0;
}
.p-footer{
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.25rem;
    margin-top: 0.62rem;
}
.h4-about-footer{
    color: #FFF;
    font-family: "Roboto";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: 2.65rem;
    margin-bottom: 1.06rem;
    margin-left: 1.25rem;
}
.container-footer{
    margin-left: 1.25rem;
    margin-right: 1.22rem;
    display: grid;
    grid-template-columns: 6fr 6fr;
    row-gap: 1rem;
    column-gap: 2rem;
}
.container-footer span{
    color: #B8C4C2;
    font-family: "Roboto";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02813rem;
    
}
.container-footer.social span{
    display: flex;
    align-items: center;
    column-gap: 0.87rem;
}
.copyright{
    margin-top: 2.6rem;
}
.copyright span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(217, 217, 217, 0.50);
    text-align: center;
    font-family: "Roboto";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}